.input {
  width: 50px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
}
.wrapper_left {
  width: 300px;
}
.wrapper_gallery {
  margin: 0 !important;
  .gallery {
    padding: 0;
    border: 1px solid;
  }
}
